* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background: #FFFFFF;
}
nav {
  background: #f55a5a;
  height: 75px;
}
nav > i {
  font-size: 1.8rem;
}
nav > .nav-brand {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 18px;
}

/* cards */
.list{
  margin: 100px auto;
}
.card-img {
  max-width: 20rem;
  height: 20rem;
  width: 100%;
  text-align: center;
}
.card-details{
  font-size: 1rem;
  margin: 2rem 1rem;
}
.card-details > i {
  color: #f55a5a;
  padding-right: 4px;
}
.card-details > .card-location {
  font-size: 1.5rem;
  letter-spacing: 0.17em;
}
.card-details > .card-map a{
  color: #918E9B;
  padding: 0 1.5rem;
}
.card-details > .card-title, .card-details > .card-date{
  color: #2B283A;

}
.card-details > .card-date{
  font-size: 1rem;
}
.card-details > .card-description{
  line-height: 150%;
  font-weight: 400;
}
@media (max-width: 576px) {
  .card-map {
    display: block;
  }
}